.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 16px;
  width: 400px;
  padding: 20px;
  height: 707px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
  overflow: hidden;
  height: 159px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.previousInput {
  font-family: sans-serif;
  height: 40px;
  font-size: 40px;
  font-weight: 300;
  color: #aaa;
}

.currentInput {
  font-family: sans-serif;
  font-size: 96px;
  font-weight: 300;
  color: #000;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  text-overflow: ellipsis;
}

.calcButton {
  font-size: 1.5rem;
  padding: 20px;
  width: 72px;
  border-radius: 20px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #ddd;
  }

  &:active {
    background-color: #ccc;
  }
}

.gray {
  background-color:  #ccc !important; 
}

.blue {
  background-color: #5588cc !important;
  color: #fff !important;

  &:hover {
    background-color: #3366bb !important;
  }
}
