.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .modal {
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    width: 750px;
    padding: 20px;
    outline: auto;
    outline-color: #ccc;
    outline-width: 1px;
    position: relative;
    height: 264px;
    border: #ccc;
    border-radius: 1rem;
  }
  
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  
    h2 {
      font-size: 24px;
    }
  
    .closeBtn {
      font-size: 20px;
      background-color: lightgray;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      border: none;
      cursor: pointer;
    }
  }
  
  .modalBody {
    margin-bottom: 20px;
  
    label {
      display: block;
      margin-bottom: 8px;
      font-size: 14px;
      color: #6c6c6c;
    }
  
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }
  }
  
  .modalFooter {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  
    .calcBtn,
    .genBtn {
      padding: 10px 15px;
      font-size: 14px;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  }
  